*{
    margin: 0;
    padding: 0;
}

.fcontainer{
    display: flex;
    border: 2px solid white;
    justify-content: center;
 border-radius: 5px;
 flex-wrap: wrap;
 justify-content: space-between;
 /* background:linear-gradient(to right,#ff0000,rgb(162, 0, 255)); */
 /* background: gray; */
 background:linear-gradient(to right,rgb(1, 1, 34),rgb(0, 0, 0),black);
 height:100%;
 /* animation: rotate 1.5s linear infinite; */
 flex-wrap: wrap;
 
}
/* @keyframes rotate {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
} */
.fitem{
    /* background-color: brown; */
    /* border: 2px solid black; */
    margin: 12px;
    height: 30px;
    width: 250px;
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    
}
.name{
    color: white;
}
.imag{
}
.fitem1{
    /* background-color: brown; */
    /* border: 2px solid black; */
    margin: 12px;
    height: 30px;
    width: 550px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.image1{
    height: 50px;
    width: 74px;
}
.name{
    color: white;
}
.name:hover{
    color: linear-gradient(#14ffe9,#ffeb3b,#ff00e0);
}
.button1{
    width: 90px;
    color: white;
    background-color: transparent;
    height: 30px;
    border: none;
}
.button1:hover{
    border: 2px solid white;
    /* color: rgb(255, 0, 0); */
    border-radius: 15px;
}

.button2{
    width: 90px;
    color:white;
    background-color: transparent;
    height: 30px;
    border: none;
}
.button2:hover{
    border: 2px solid white;
    /* color: rgb(255, 208, 0); */
    border-radius: 15px;
}
.button3{
    width: 90px;
    color: white;
    background-color: transparent;
    height: 30px;
    border: none;
}
.button3:hover{
    border: 2px solid white;
    
    border-radius: 15px;
}
.button4{
    width: 90px;
    color: white;
    background-color: transparent;
    height: 30px;
    border: none;
}
.button4:hover{
    border: 2px solid white;
    /* color: rgb(0, 68, 255); */
    border-radius: 15px;
}

.landing{
    /* width: 100%; */
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    align-items: center;

    border: 2px solid black;
    background-color: #ffeb3b;
}
.mypic{
    height: 250px;
    width: 230;
}
#img{
    height: 150%;
    width: 120%;
}
@media (max-width=500px){
    #img{
        height: 10vw;
        width:8vh
    }
}
.fland{
    display: flex;
    flex-shrink: 2;
}
.landing_head{
    width: 800px;
    color: white;
    /* background:linear-gradient(to right,black,rgb(0, 0, 0),rgb(1, 1, 34)); */
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
    font-size: 2em;
    background-color: transparent;
}
.landitem{
    display: flex;
    font-size: 10px;
    justify-content: center;
    justify-content: space-around;
    background:linear-gradient(to right,black,rgb(0, 0, 0),rgb(1, 1, 34));
    /* background-image: url("fin.jpg"); */
    align-items: center;
    height: 80vh;
}
@media (max-width:500px){
    .landitem{
       height: 80vh;
       font-size: 5px;
    }
}
@media (max-width:1106px) and (min-width:788px){
    .landitem{
       height: 80vh;
       font-size: 8px;
    }
}
@media (max-width:789px) and (min-width:501px){
    .landitem{
       height: 80vh;
       font-size: 6px;
    }
}
.Learnmore{
    margin-top: 2vh;
    padding: 1vh;
    width: 19vw;
    font-size: 17px;
    text-align: center;
    height: 20vh;
    border: 2px solid black;
    color: black;
    border-radius: 40px;
}
.Learnmore:hover{
    border: 3px solid black;
    background: gray;

    /* background:linear-gradient(to right,#ff0000,rgb(162, 0, 255)); */
    color: black;
    border-radius: 40px;
}
@media (max-width:500px){
    .Learnmore{
        height: 6vh;
        width: 13vh;
        font-size: 8px ;
    }
}
@media (max-width:1106px) and (min-width:788px){
    .Learnmore{
        height: 9vh;
        width: 15vw;
        font-size: 14px;
    }
}

@media (max-width:789px) and (min-width:501px){
    .Learnmore{
        height: 6vh;
        width: 13vw;
        font-size: 11px;
    }
}

.carditem{
    padding: 60px;
    border: 1px solid black;
    background-color: aliceblue;
    border-radius: 9px;
    box-shadow: 2px 3px 10px black ;

}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 52px;
    background-color:rgb(240, 240, 240) ;
}
.card1{
    padding: 30px;
    display: flex;
    justify-content: center;
    margin: 6px;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 9px;
    background-color: transparent;
    box-shadow: 2px 3px 10px black;
}
spam h1{
    text-shadow: 1px  2px 4px black;
}
p{
    font-size: 100%;
}
.card2{
    padding: 30px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 6px;
    border: 1px solid black;
    border-radius: 9px;
    background-color: transparent;
    box-shadow: 2px 3px 10px black;
}
@media (min-width:10em){
    html{
        image-resolution:calc(0.75rem + 0.3vw) ;
    }
}
@media (min-width:20em){
    html{
        image-resolution:calc(0.75rem + 0.3vw) ;
    }
}
@media (min-width:30em){
    html{
        image-resolution:calc(0.75rem + 0.3vw) ;
    }
}
@media (min-width:40em){
    html{
        image-resolution:calc(0.75rem + 0.3vw) ;
    }
}
/* .card */
#crdimg1{
    width: 100%;
    height: 100%;
    border-radius: 9px;
    /* object-fit: contain; */
}
@media all and (max-width:480px){
    #crdimg1{

        width: 70%;
        height:70%;
    }
}
.just{
    display: flex;
    justify-content: center;
    align-items: center;

}